<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/giy/of_v0.8.4_osx_release/examples/graphics/polylineBlobsExample copy/polylineBlobsExample.xcodeproj</string>
</dict>
</plist>
